body {
  background-color: #888;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1, a, p {
  margin: 0;
}

button {
  background: none;
  border: 2px solid;
  border-radius: 100px;
  padding: 10px 20px 12px 20px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.weather-panel, .logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 580px;
  padding: 20px 40px 20px 40px;
  box-sizing: border-box;
}

.weather-panel {
  height: 100%;
  z-index: 5;
}

.logo, .logo-blank {
  text-align: left;
  font-family: 'Amita', cursive;
  font-weight: 700;
  font-size: 60px;
  margin: 0 0 -24px -3px;
}

.logo {
  z-index: 10;
}

.logo-blank {
  visibility: hidden;
}

.icon {
  width: 200px;
  height: 200px;
}

.data-row {
  display: flex;
  width: 100%;
}

.data-row > * {
  margin-right: 48px;
}

.data-row :last-child {
  margin-right: 0;
}

.medium {
  font-size: 24px;
}

.tall {
  font-size: 80px;
}

.tallest {
  font-size: 200px;
}

.thin {
  font-weight: 100;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

.background {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  cursor: pointer;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: fixed;
  z-index: 0;
}

/* Dark scheme */
.dark .weather-panel {
  color: #fff;
  background-color: #333;
  background-color: rgba(30, 30, 30, 0.8);
  fill: #fff;
}

.dark .secondary {
  color: #bbb;
}

.dark button {
  color: #fff;
  border-color: #fff;
}

.dark button:focus {
  background-color: #444;
  background-color: rgba(255, 255, 255, 0.1);
}

.dark button:hover {
  background-color: #555;
  background-color: rgba(255, 255, 255, 0.2);
}

.dark .logo, .dark a {
  color: #f66;
}

/* Light scheme */
.light .weather-panel {
  color: #000;
  background-color: #ddd;
  background-color: rgba(230, 230, 230, 0.7);
  fill: #000;
}

.light .secondary {
  color: #555;
}

.light button {
  color: #000;
  border-color: #000;
}

.light button:focus {
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.1);
}

.light button:hover {
  background-color: #bbb;
  background-color: rgba(0, 0, 0, 0.2);
}

.light .logo, .light a {
  color: #d44;
}

/* Color scheme */
.color .weather-panel {
  color: #fb4;
  background-color: #422;
  background-color: rgba(40, 20, 60, 0.8);
  fill: #fb4;
}

.color .secondary {
  color: #a86;
}

.color button {
  color: #fa4;
  border-color: #fa4;
}

.color button:focus {
  background-color: #533;
  background-color: rgba(255, 220, 60, 0.1);
}

.color button:hover {
  background-color: #644;
  background-color: rgba(255, 220, 60, 0.2);
}

.color .logo, .color a {
  color: #2e6;
}
